<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <title>SIFT RTSP 比對</title>
    <script>
        function reloadImages() {
            document.getElementById("original").src = "/image/original?" + new Date().getTime();
            document.getElementById("processed").src = "/image/processed?" + new Date().getTime();
            document.getElementById("pattern").src = "/pattern?" + new Date().getTime();
        }
        setInterval(reloadImages, 1000);
    </script>
</head>
<body>
    <h1>RTSP 影像比對系統（SIFT）</h1>
    
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="上傳 Pattern 圖片">
    </form>

    <h3>目前 Pattern 圖</h3>
    <img id="pattern" src="/pattern" width="200" alt="Pattern image"><br>

    <h3>原始影像</h3>
    <img id="original" src="/image/original" width="480" alt="original iamge"><br>

    <h3>比對後影像</h3>
    <img id="processed" src="/image/processed" width="480" alt="processed image"><br>
</body>
</html>
